@import "tailwindcss";

.canvas-container {
  position: fixed;
  top: 0%;
  right: 15%;
  width: 100%;
  height: 100%;
}

#root {
  margin: 1rem;
  overflow: hidden; /* Quitar el scrollbar */
}

#Contenedor {
  background: linear-gradient(to right, #0a1214, #16282e, #1a2327);
}

#Email ion-icon {
  font-size: 2rem;
  margin-left: 5rem;
}

#Email:hover {
  color: #1292a8; /* Cambio de color al pasar el mouse */
  transform: scale(1.1); /* Efecto de aumento al pasar el mouse */
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

#BotonNav {
  margin-left: 0.1rem;
}

#BotonNav:hover {
  color: #1292a8; /* Cambio de color al pasar el mouse */
  transform: scale(1.1); /* Efecto de aumento al pasar el mouse */
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

#RedesSociales {
  margin-top: -20.6rem;
}

#RedesSociales ion-icon {
  font-size: 2.5rem;
}

#RedesSociales a:hover {
  color: #1292a8; /* Cambio de color al pasar el mouse */
  transform: scale(1.2); /* Efecto de aumento al pasar el mouse */
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

#Cartas {
  margin-right: -8rem;
}

#Proyectos {
  margin-top: -4.5rem;
  margin-left: -3.1rem;
}

#Punto {
  position: absolute;
  margin-top: 1rem;
  margin-left: -1.2rem;
}

#Palito {
  position: absolute;
  margin-top: 2rem;
  margin-left: -0.7rem;
  margin-bottom: 50%;
}

.titulo-vertical {
  writing-mode: vertical-rl; /* Texto en vertical de derecha a izquierda */
  text-orientation: upright;
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding: 10px;
  position: absolute;
  left: -2rem; /* Ajusta según el espacio requerido */
  top: 10%;
}

/* Estilos para los iconos */
.icon-container {
  display: flex;
  flex-direction: column; /* Hace que el texto quede debajo */
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon-container:hover {
  transform: translateY(-5px); /* Levanta el icono al pasar el cursor */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.icon-name {
  font-size: 8px;
  text-align: center;
  color: #11999e;
}

/* Mantiene los iconos en UNA SOLA FILA con más espacio */
.grid-icons {
  display: flex;
  justify-content: space-around; /* Espaciado uniforme */
}

/* Estilo para "Tecnologías Utilizadas" */
.tech-title {
  font-size: 12px;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.tech-title:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Fondo sutil */
}

/* Animación de fadeIn */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

/* Animación de fadeInRight */
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(350px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animate-fadeInRight {
  animation: fadeInRight 2.5s ease-out forwards;
}

/* Animación de fadeInleft*/
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animate-fadeInLeft {
  animation: fadeInLeft 2.5s ease-out forwards;
}

/* Animación de los iconos */
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.scale-up-center {
  animation: scale-up-center 1s;
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(0px);
  }
}

.slide-bottom {
  animation: slide-bottom 2s linear both;
}

/* Animación de fadeInRightFoto */
@keyframes fadeInRightFoto {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animate-fadeInRightFoto {
  animation: fadeInRightFoto 2.5s ease-out forwards;
}

@keyframes pulse-glow {
  0% {
    transform: scale(1);
    text-shadow: 0 0 2px #046164, 0 0 5px #048a8f;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    text-shadow: 0 0 2px #046164, 0 0 5px #048a8f;
  }
}
.pulse-glow {
  animation: pulse-glow 1.5s infinite ease-in-out;
}

/* Animación para las imagenes Cartas*/
@keyframes slideInOut {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  25% {
    opacity: 1;
    transform: scale(1);
  }
  75% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}
.animate-slideInOut {
  animation: slideInOut 3s ease-in-out infinite;
}

/* Definir la animación de tipeo */
@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%; /* El texto completo aparece */
  }
}
.animate-typing {
  display: inline-block;
  white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
  overflow: hidden;
  animation: typing 3s steps(30); /* Bucle indefinido que alterna */
}

@media (max-width: 768px) {
  #Email ion-icon {
    position: relative;
    margin-left: -2.3rem;
    margin-top: 4px;
  }

  #RedesSociales {
    margin-top: -25rem;
  }

  #Cartas {
    margin-top: 4.4rem;
    margin-bottom: -9rem;
    scale: 0.5;
  }

  #Proyectos {
    margin-top: -6.8rem;
    margin-left: -3rem;
  }

  .canvas-container {
    display: none;
  }
}
